name: Build Images

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

env:
  JULIA_DEPOT_PATH: ${{ github.workspace }}/.julia

jobs:
  images:
    name: Image Names
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.set-images.outputs.images }}
    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.8'
          arch: x64

      - id: set-images
        run: |
          julia --project=.ci -e 'import Pkg; Pkg.instantiate()'
          julia --project=.ci .ci/images.jl

  build:
    needs: [images]
    name: Build ${{ matrix.image }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - '1.8'
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        image: ${{ fromJSON(needs.images.outputs.images) }}
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            folder:
              - 'sysimages/${{ matrix.image }}/**'

      - uses: julia-actions/setup-julia@v2
        if: startsWith(github.ref, 'refs/tags/') || steps.changes.outputs.folder == 'true'
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - name: Instantiate Environments
        if: startsWith(github.ref, 'refs/tags/') || steps.changes.outputs.folder == 'true'
        run: |
          julia --project=sysimages -e 'import Pkg; Pkg.instantiate()'
          julia --project=sysimages/${{ matrix.image }} -e 'import Pkg; Pkg.instantiate()'
        env:
          JULIA_PKG_PRECOMPILE_AUTO: "0"

      - name: Run Precompile Script
        if: startsWith(github.ref, 'refs/tags/') == false && steps.changes.outputs.folder == 'true'
        run: |
          julia --project=sysimages/${{ matrix.image }} sysimages/${{ matrix.image }}/precompile.jl

      - name: Build System Image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          julia --project=sysimages sysimages/build.jl ${{ matrix.image }}
          tar -czvf depot.tar.gz -C ${{ env.JULIA_DEPOT_PATH }} .

      - uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: ${{ matrix.image }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.version }}
          path: depot.tar.gz

  success:
    needs: [build]
    name: Successful Build
    runs-on: ubuntu-latest
    steps:
      - name: Success
        run: echo "Success"

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [images, success]
    name: Release ${{ matrix.image }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        version:
          - '1.8'
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        image: ${{ fromJSON(needs.images.outputs.images) }}
        arch:
          - x64
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: ${{ matrix.image }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.version }}
          path: artifacts

      - name: Unpack tarball
        run: |
          mkdir depot
          tar -xvf artifacts/depot.tar.gz -C depot

      - run: ls depot

      - name: Change ownership of any Windows executables or DLLs.
        run: |
          find depot -type f -iname "*.dll" -exec chmod a+rx {} \;
          find depot -type f -iname "*.exe" -exec chmod a+rx {} \;

      - name: Repack tarballs
        run: |
          mkdir -p release
          tar -czvf release/${{ matrix.image }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.version }}.tar.gz -C depot .

      - name: Release
        uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: "release/*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          prerelease: true

      - uses: geekyeggo/delete-artifact@v5
        with:
          name: ${{ matrix.image }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.version }}
